/* assets/style.css */

body {

    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;

}

.header {

    /* background-color: #102C47; */
    /* background-color: #4b49ac; */
    background-color: rgba(75, 73, 172, 0.9);
    /* #4b49ac with 50% opacity */
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;

}

.header-title {

    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 48px;
    font-weight: bold;
    /* make the text bold */
    margin: 0 auto;
    text-align: center;

}

.header-description {

    color: #CFCFCF;
    font-family: "Lato", sans-serif;
    font-size: 26px;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;

}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    /* max-width: 2400px; */
    /* max-width: auto; */
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 32px;
    display: inline-block;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: top;
}

/* .card {

    margin-bottom: 24px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    height: 15vh;
    justify-content: center;
    align-self: center;
} */

.card {
    margin-bottom: 20px;
    margin-left: 20px;
    /* change this value to the desired left margin */
    margin-right: 20px;
    /* change this value to the desired right margin */
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    align-items: center;
    justify-content: space-evenly;
    vertical-align: top;
    margin-top: 32px;
    /* height: 400px; */
}

.map_card {
    margin-bottom: 20px;
    margin-left: 20px;
    /* change this value to the desired left margin */
    margin-right: 20px;
    /* change this value to the desired right margin */
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    align-items: center;
    justify-content: space-evenly;
    vertical-align: top;
    margin-top: 32px;
    height: 550px;
}


.menu {

    /* height: 112px;
    width: 1500px; */
    display: flex;
    height: 120px;
    width: 800px;
    justify-content: space-evenly;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);

}

.menu-title {

    margin-bottom: 24px;
    font-weight: bold;
    /* color: #079A82; */
    color: #003099;
    font-family: "Lato", sans-serif;

}

.menu_dropdown {

    position: relative;
    margin-bottom: 24px;
    display: inline-block;
    width: 200px;
}